@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.panel {
  position: inherit;
  width: 600px;
  height: 380px;
  margin-top: 80px;
  background-color: #97c1a8;
  box-shadow: 0px 0px 20px #9aada1;
  border-radius: 30px;
  text-align: center;

}

.panel > h2 {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0em;
  margin-top: 70px;
}

.panel > p {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0em;
  margin-top: 20px;
  margin-bottom: 20px;
}